body{
    background: #000000;
}

p {
  color: #708090;
}

span {
  color: #708090;
}

.informacion{
	margin-top: 20%;
}

h5{
	color:white;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
}

.cDicom{
    box-shadow: 0 0 30px white;
}

button {
	background: #708090;	
	color:white;
}
.contenedor {
    overflow:auto;
}

/* Estilos para motores Webkit y blink (Chrome, Safari, Opera... )*/

.contenedor::-webkit-scrollbar {
    -webkit-appearance: none;
}

.contenedor::-webkit-scrollbar:vertical {
    width:10px;
}

.contenedor::-webkit-scrollbar-button:increment,.contenedor::-webkit-scrollbar-button {
    display: none;
} 

.contenedor::-webkit-scrollbar:horizontal {
    height: 10px;
}

.contenedor::-webkit-scrollbar-thumb {
    background-color: #797979;
    border-radius: 20px;
    border: 2px solid #f1f2f3;
}

.contenedor::-webkit-scrollbar-track {
    border-radius: 10px;  
}
